services:
  api:
    build:
      context: .
      dockerfile: deploy/Dockerfile
    container_name: material_monitor_api
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    env_file:
      - .env

  nginx:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: material_monitor_nginx
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api
